<h1>Meal Crawl</h1>
<div class="row" id="app"></div>
  <% @restaurants.each do |r| %>
  <ul>
    <li>
      <%= r.name %>
      <%= r.address %>
      <%= r.zipcode %>
      <%= r.food_type %>
    </li>
  </ul>
  <% end %>
