/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 body {
   background-repeat: no-repeat;
   background-size: 65%;
   background-position: center 0;
   background-color: #3232AA;
   font-size: 20px
 }

 .restaurant-photo-photo-show {
   width: 300px;
   height: 300px;
   margin: auto
 }

 #show-img-container {
   padding: 15px 0px;
 }

 #Restaurant-Container {
   text-align: left;
 }

 .top-bar{
   background: #F63440;
 }

 .notice{
   margin: 0 20px;
 }

 .menu-text{
   background-color: #F63440;
 }

 #top-bar-right{
   background-color: #F63440;
 }

 #login{
   text-align: center;
   width: 45%;
 }

 #registration{
   text-align: center;
   width: 45%;
 }

 .row{
  text-align: center;
}

 #review {
  border: 3px solid #173D45;
  margin-top: 15px;
  margin-bottom: 15px;
}

 #app{
   margin: 15px 15%;
 }


#profile_links {
  padding-left: 25px;
}

#user-information {
  margin-bottom: 20px;
}

.review-avatar {
  padding: 10px;
}

.restaurant-photo {
  padding: 13px;
}
